.heading-set2 {
  text-align: center;
  margin: 5%;
  font-family: Carmen Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}
