.slick-slide {
    display: none;
    float: left;
}

.left-slider .slick-slider {
    margin-top: 58%;
  }
  
  .left-slider .slick-next:before {
    content: "";
    background-image: url("../../Assets/arrow-next.png");
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .left-slider .slick-arrow.slick-next {
    background: #000000 !important;
    padding: 0px;
    width: 30px;
    height: 30px;
    right: 5px;
  }
  
  .container-bg {
    background-color: #E1E1E1;
    padding-top: 10%;
    padding-bottom: 1px;
    }