@font-face {
  font-family: "Roboto";
  src: url("../../Includes/Fonts/Roboto-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Carmen sans";
  src: url("../../Includes/Fonts/CarmenSans-Regular.ttf") format("truetype"),
    url("../../Includes/Fonts/Carmen-Sans-Regular.otf") format("otf");
}

@font-face {
  font-family: "Carmen sans";
  src: url("../../Includes/Fonts/CarmenSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../../Includes/Fonts/futura/Futura\ Bold\ font.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Futura Md Bt";
  src: url("../../Includes/Fonts/futura/futura\ medium\ bt.ttf");
  font-weight: 400;
  font-style: normal;
}
/* // @font-face {
//   font-family: "Oswald Regular";
//   src: url("../../Includes/Fonts/Oswald-Regular.ttf");
//   font-weight: normal;
// }

// @font-face {
//   font-family: "Oswald Bold";
//   src: url("../../Includes/Fonts/Oswald-Bold.ttf");
//   font-weight: bold;
// }

// @font-face {
//   font-family: "Oswald light";
//   src: url("../../Includes/Fonts/Oswald-Light.ttf");
//   font-weight: bold;
// } */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Futura";
  font-weight: 700;
  font-style: normal;
  font-size: 51px;
  line-height: 35.81px;
}

p,
a {
  font-family: "Carmen sans";
  font-weight: normal;
  font-style: normal;
}

button.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
}

nav a {
  font-family: "Carmen sans";
  font-weight: 400 !important;
  font-style: normal;
}

p {
  font-size: 18px;

  line-height: 24px;
}

small {
  font-family: "Futura Md Bt";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.97px;
  text-align: center;
}

span {
  font-family: "Carmen Sans";
  font-style: normal;
  font-weight: normal;
}
