.header-pic {
    background-image: url("../../Assets/Rectangle\ 162.png");
    background-size: cover;
    background-position: center center;
    padding: 20% !important;
}

.head-1 {
    color: white;
    font-family: Carmen Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
}

.para-1 {
    color: white;
    position: relative;
    top: 250px;
}

.head-2 {
    color: white;
    font-family: Carmen Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.jumbotron {
    margin-bottom: 0px !important;
}