.align {
  background-color: #bababa;
  /*! margin-left:26%; */ /*! padding:10%; */ /*! margin-top:14px */
  padding: 28px 30px;
}

.main-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #030104;
  margin-top: 20px;
}

/* .background-img {
  padding: 5%;
  margin: 8%;
} */
.main-heading small {
  font-family: Carmen Sans;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  color: #000000;
}
.hr-line {
  border: 1px solid gray;
}
.page-text {
  font-family: Carmen Sans;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  /* text-align: justify;
  text-align-last: center; */
  padding-top: 20px;
}

/* The CSS you dont want in to be applied on moble and Ipad */

@media (min-width: 769px) {
  .col-lg-6.page-image {
    text-align: center;
    padding: 20px;
    padding-bottom: 0;
  }
  .main-heading {
    text-align: left;
    padding-left: 25px;
  }
  .img-slider {
    margin-top: 42%;
    padding: 10px;
  }
}

.img-box:hover {
  filter: grayscale(0%) !important;
  -webkit-transform: scale(1.1);
  -webkit-transition: all 0.4s ease-in-out;
}

.img-box {
  border: 0px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  filter: grayscale(100%);
  transition: 0.3s;
}
.bottom-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #030104;
  padding-top: 50px;
}
.hr-line2 {
  border: 1px solid gray;
}
.images-box {
  border: 0px solid orange;
  margin-left: 50px;
  background-color: lightgray;
  width: 420px;
  height: 400px;
}
@media (max-width: 768px) {
  .images-box {
    width: 100%;
    margin: 0px;
  }
  .img-slider .col-lg-3 .img-fluid {
    margin-bottom: 20px;
  }
}
.img-center {
  padding-top: 100px;
}
.img-slider .col-lg-3 .img-fluid {
  padding: 20px 10px;
  background: #cdcdcd;
}

.form-group {
  border-bottom: 2px solid gray;
}

.typho.form-control {
  margin: 0px;
}

.button-form.btn.btn-primary {
  background-color: black;
  width: 38%;
  border-radius: 0;
}

.button-form.btn-primary {
  border-color: #000000;
}

.button.btn-primary:hover {
  border-color: black;
}

.bottom-heading form {
  width: 50%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-heading .button-form.btn.btn-primary:hover:focus {
  border: none;
  box-shadow: none;
}

.bottom-heading .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #000;
}

.foot-para {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 180px;
}

.col-lg-6.page-text {
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: space-between; */
}

.button-form.btn.btn-primary {
  border: none;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.head2 {
  margin-top: 5rem;
}

.Fi-region {
  margin-bottom: 15rem;
}

@media (max-width: 480px) {
  .bottom-heading form {
    width: 75%;
  }
  .size {
    padding-top: 12%;
  }
  .head2 {
    margin-top: 2rem;
  }
}

.bg {
  padding-top: 8%;
}

.align .grid-button {
  border: 1px solid black;
  border-radius: 1px;
  box-sizing: border-box;
  font-family: Carmen Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: black;
  background: transparent;
  padding: 10px 38px;
  width: 74%;
}

.align .row {
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
}

.page-text p {
  font-family: Carmen Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  color: #000000;
}

.carousel-indicators,
.carousel-indicators li {
  display: none;
}

.carousel-control-prev-icon {
  width: 18.86px;
  height: 39px;
  padding: 15px;
  border: 0.5px solid #000000;
}

.carousel-control-next-icon {
  width: 18.86px;
  height: 39px;
  padding: 15px;
  border: 0.5px solid #000000;
}

.carousel-control-prev {
  left: 38px !important;
}

.carousel-control-next {
  right: 5px !important;
}

.carousel {
  min-height: 808px !important;
}

.img-box .img-fluid {
  max-width: 70%;
}

.grid-button:hover {
  color: white !important;
  background-color: black !important;
  border-color: black !important;
}

.container {
  max-width: 1220px !important;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5% !important;
}

.carousel-inner {
  width: 80% !important;
  margin: auto !important;
}

.fonts {
  font-family: Futura Md Bt;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 23.97px;
}
