.heading-set {
  text-align: center;
  margin: 12%;
}

.setting {
  font-family: Carmen Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
