.text-uppercase {
  color: #fff;
  margin: -1%;
}

.blue {
  background-color: #000;
}

.list-unstyled {
  padding: 26px;
  text-align: left;
  color: white;
}

.footer-copyright {
  border-top: 2px solid #f8f8f8;
}

.pt-4,
.py-4 {
  padding-top: 102px !important;
}

.row {
    padding-bottom: 17px;
}

.img1 {
  padding: 10px;
}


.list-unstyled {
font-family: Carmen Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
color: #FFFFFF;
padding-left: 0;
}
.text-uppercase {
font-family: Carmen Sans;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;
text-transform: uppercase;
}

.foot-head {
  text-align: left;
  padding-left: 10px;
  color: #FFFFFF;
  }

  .foot-head span {
    margin-right: 70px;
    }

    .foot-head1 {
      text-align: end;
      color: white;
      padding-right: 65px;
      }

      .col-lg-12.footer-bottom-border {
        border-top: 2px solid #fff;
        margin-bottom: 15px;
        }

.p {
  padding-top: 102px;
}